  *, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
 }

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  word-break: break-word;
  color: #444;
}

body {
  background-color: #f4f4f4;
  background-position: left top;
  background-repeat: repeat;
}

/**************************
* Reusable CSS
**************************/

.hidden { display: none; }
.float_left { float: left; }
.float_right { float: right; }
.align_left { text-align: left; }
.align_right { text-align: right; }
.align_centre { text-align: center; }
.hide { display: none; }
.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width:100%;
}

/**************************
* Typography
**************************/

p {
  font-size: 16px;
  line-height: 26px;
}

p + p {
  margin-top: 2em;
}


h1, h2 {
  font-weight: 300;
  margin: 0.67em 0;
}

h3, h4 {
  font-size: 22px;
  font-weight: normal;
  line-height: 18px;
  margin-bottom: 0.625em;
}

p + h3, ol + h3, ul + h3 {
  margin-top: 1em;
}

ul.inline {
  display: block;
  margin: 0;
  padding: 0;
}
ul.inline li {
  list-style: none;
  display: inline;
}

blockquote {
  padding: 0 10px;
  margin: 20px 50px;
  border-left: 8px solid #F6F1F1;
  font-style: italic;
}

a, a:visited {
  color: #2AA5E8;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: color .1s linear;
     -moz-transition: color .1s linear;
      -ms-transition: color .1s linear;
       -o-transition: color .1s linear;
          transition: color .1s linear;
}

h1 a, h1 a:visited, h2 a, h2 a:visited {
  font-weight: 300;
}

a:hover {
  color: #2892cc;
}

ol, ul {
  font-size: 1.4em;
}

ul {
  -webkit-padding-start: 0;
  margin-left: 1.2em;
}

ol {
  margin-left: 1.2em;
}

ul li, ol li {
  margin-bottom: 1.7em;
}

ul li:last-child, ol li:last-child {
  margin-bottom: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

/**************************
* Icon font
**************************/

@font-face {
  font-family: 'icomoon';
  src:url('/assets/fonts/icomoon.eot');
  src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/icomoon.ttf') format('truetype'),
      url('/assets/fonts/icomoon.woff') format('woff'),
      url('/assets/fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
  content: "\e600";
}
.icon-twitter:before {
  content: "\e601";
}
a .icon-twitter {
  color: rgba(27, 164, 243, 1.0);
}
.icon-google-plus:before {
  content: "\e602";
}
a .icon-google-plus {
  color: rgba(207, 59, 39, 1.0);
}
.icon-lastfm:before {
  content: "\e603";
}
a .icon-lastfm {
  color: rgba(213, 16, 7, 1.0);
}
.icon-linkedin:before {
  content: "\e604";
}
a .icon-linkedin {
  color: rgba(72, 117, 180, 1.0);
}
.icon-skype:before {
  content: "\e605";
}
a .icon-skype {
  color: rgba(0, 175, 240, 1.0);
}

/**************************
* Layout
**************************/

header {
  border-bottom: 1px solid #f2f2f2;
}

article[role="main"],
section[role="main"] {
  background-color: #fff;
  margin: 50px 0 0;
  padding: 1px 45px;
  float: left;
}

section[role="sidebar"] {
  float: left;
}

section[role="sidebar"] section {
  background-color: #fff;
  padding: 1px 45px 10px 45px;
  border-top: 1px solid #f2f2f2;
  margin-bottom: 22px;
}

.container {  margin: 0 auto;
}

#background_canvas {
  display: none;
}

footer {
  display: none;
}

/**************************
* Social
**************************/

#social ul {
  padding: 0;
}

#social ul li {
  padding: 0;
  display: inline-block;
}

#social ul li.last {
  margin: 0;
}

/**************************
* Posts
**************************/

.info {
  font-size: 14px;
  border-top: 1px solid #f2f2f2;
  padding-top: 13px;
}

/**************************
* Custom Pygments
**************************/

code {
  font-size: 12px;
  font-family: Monaco, serif;
  font-weight: normal;
  background-color: #eee;
  padding: 2px;
}

.highlight code {
  font-size: 12px;
  line-height: 22px;
  -webkit-font-smoothing: subpixel-antialiased;
  display: block;
  background-color: #494f57;
  margin: 0 -45px;
  padding: 35px 45px;
}

.highlight code.text {
  color: #eee;
}

/**************************
* Responsive
**************************/

@media only screen and (min-width: 320px) {

  h1, h2 {
    font-size: 28px;
    line-height: 38px;
  }

  article[role="main"] h2 {
    font-size: 24px;
    line-height: 34px;
  }

  .container {
    width: 100%;
  }

  section[role="main"],
  article[role="main"] {
    width: 100%;
  }

  section[role="sidebar"] section {
    background-color: #494f57;
  }
  section[role="sidebar"] section h3,
  section[role="sidebar"] section h4,
  section[role="sidebar"] section p {
    color: #fff;
  }

  #social {
    width: 320px;
    margin: 0 auto;
  }

  #social ul {
    margin: 0 0 24px 0;
    padding: 0;
  }

  #social ul li {
    margin: 0 33px 0 0;
    font-size: 35px;
  }
  #social ul li:last {
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {

  .container {
    width: 768px;
  }

  section[role="main"],
  article[role="main"] {
    width: 768px;
  }

  section[role="sidebar"] {
    margin-top: 50px;
    width: 768px;
  }

  section[role="sidebar"] section {
    background-color: #494f57;
  }

  section[role="sidebar"] section h3,
  section[role="sidebar"] section h4,
  section[role="sidebar"] section p {
    color: #fff;
  }
}
@media only screen and (min-width: 980px) {

  h1, h2 {
    font-size: 34px;
    line-height: 44px;
  }

  article[role="main"] h2 {
    font-size: 28px;
    line-height: 38px;
  }

  .container {
    width: 980px;
  }

  article[role="main"],
  section[role="main"] {
    width: 650px;
  }

  section[role="sidebar"] {
    margin: 50px 0 0 22px;
    width: 308px;
  }

  section[role="sidebar"] p {
    font-size: 14px;
    line-height: 24px;
  }

  footer {
    width: 650px;
    display: inline-block;
    padding: 5px 0 0 0;
    margin-bottom: 5px;
  }

  footer p {
    font-size: 13px;
    line-height: 23px;
  }

  #social {
    width: 308px;
    margin: 0 auto;
  }

  #social ul {
    margin: 0 0 0 18px;
    padding: 0;
  }

  #social ul li {
    margin: 0 30px 0 0;
    font-size: 28px;
  }
}
