<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="/assets/stylesheets/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/assets/stylesheets/syntax.css" />
    <link rel="stylesheet" href="/assets/stylesheets/main.css" />

  </head>
  <body>

    <div class="container">

      {{ content }}

      <section role="sidebar">
        <section>
          <h4>About me</h4>
          <p>Developer with a keen interest in design, I enjoy programming in Ruby, Objective-C, C++ &amp; JavaScript. Freelancing under <a href="http://twitter.com/sprysoft">@sprysoft</a>. Tweet under <a href="http://twitter.com/davidrhyswhite">@davidrhyswhite</a>. Working for BBC Future Media.</p>
        </section>
      </section>

    </div>
    <canvas id="background_canvas" width="50" height="50"></canvas>

    <script type="text/javascript" src="/assets/javascripts/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/background.js"></script>
  </body>
</html>
